<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
    <script src="js/thermostat.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css"></link>
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="js/interface.js" type="text/javascript"></script>
  </head>
  <body>
      <div id="portal">
      <div id="text">
        <h1 id="temperature"></h1>
      </div>
    </div>
        <section id="controls">
      <p>
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button><br><br>
        <button id="temperature-reset">Reset</button><br><br>
        Power Saving Mode is <span id="power-saving-status">on</span><br><br>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
      </p>
    </section>
    <section id="location">
      <h1>Current temperature in <span id="city">London</span>: <span id="current-temperature">20</span></h1>
        <form id="select-city">
          <input id="current-city" type="text" placeholder="Enter a city"></input>
        <input type="submit"></input>
      </form>
    </section>
  </body>
</html>
